@import '~antd/dist/antd.css';

.component-root {

}

.antd {
    padding: 10px;
    display: flex;
    /*flex-direction: row;*/
    /*flex-wrap: wrap;*/
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}

.steps {
    margin-top: 10px;
    width: 80%;
}